html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  height: calc(100% - 25px);
}
.flow-container {
  flex-grow: 1;
  min-width: 0;
}
.flow-header {
  display: flex;
  height: 25px;
  align-items: center;
  background-color: var(--vscode-editor-background);
  border-top: 1px solid var(--vscode-tab-border);
  border-bottom: 1px solid var(--vscode-scrollbar-shadow);
}
.drawing-tools {
  padding-top: 1px;
  padding-left: 10px;
}
.drawing-tools input[type=image] {
  margin-right: 10px;
  width: 16px;
  display: none;
}
.drawing-tools #zoom-out {
  margin-right: 0;
}
.drawing-tools input[type=image]:focus {
  outline: none;
}
.drawing-tools input[type=image]:disabled {
  opacity: .5;
}
.drawing-tools input[type=range] {
  width: 80px;
  height: 2px;
  position: relative;
  top: -9px;
  background-color: var(--vscode-breadcrumb-foreground);
  cursor: pointer;
  -webkit-appearance: none;
}
.drawing-tools input[type=range]:focus {
  outline: none;
}
.drawing-tools input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: var(--vscode-breadcrumb-foreground);
}
.drawing-tools input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--vscode-breadcrumb-foreground);
  margin-top: -4px;
}
.drawing-tools .unselected {
  opacity: .5;
}
.hidden {
  display: none;
}
.tool-group {
  margin-left: 15px;
  border-left: 1px solid var(--vscode-editorGroup-border);
}
.mode-group {
  padding-top: 0;
  padding-left: 5px;
  margin-left: 0;
  margin-right: 0;
}
.mode-select {
  padding: 3px 5px 0 5px;
  border-radius: 2px;
  user-select: none;
}
.mode-select:hover {
  background-color: var(--vscode-list-inactiveSelectionBackground);
  cursor: pointer;
}
.mode-select input[type=image] {
  width: 14px;
  margin-right: 0;
}
#runtime {
  width: 15px;
  height: 14px;
}
.mode-menu {
  position: absolute;
  list-style-type: none;
  margin-top: 2px;
  padding: 5px 0;
  background-color: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-dropdown-border);
  border-radius: 3px;
  user-select: none;
  outline: none;
  z-index: 1000;
}
.mode-menu li {
  white-space: nowrap;
  line-height: 20px;
  padding: 0 8px 2px 8px;
}
.mode-menu li:hover {
  color: var(--vscode-list-activeSelectionForeground);
  background-color: var(--vscode-list-activeSelectionBackground);
}
.mode-menu img {
  width: 12px;
  vertical-align: middle;
  margin-right: 5px;
}
.drop-caret {
  transform: scale(1,.5);
  display: inline-block;
  position: relative;
  top: -2px;
  opacity: .5;
}
.action-group {
  flex-grow: 1;
  margin-left: 7px;
}
.flow-diagram {
  height: 100%;
  overflow: auto;
}
.flow-diagram > canvas {
  height: 100%;
  width: 100%;
}
.toolbox-container {
  min-width: 150px;
}
.toolbox-header {
  user-select: none;
  height: 25px;
  font-weight: bold;
  font-size: 12px;
  color: var(--vscode-sideBarTitle-foreground);
  background-color: var(--vscode-sideBar-background);
  border-top: 1px solid var(--vscode-tab-border);
  border-left: 1px solid var(--vscode-sideBar-border);
}
.toolbox-caret::before {
  content: "\2303";
  display: inline-block;
  margin-right: 6px;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 15px;
  position: relative;
  top: 2px;
}
.toolbox-caret-closed {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -2px;
  padding-right: 5px;
  cursor: pointer;
}
.toolbox-caret-closed::before {
  display: inline-block;
  margin-right: 0;
  transform: rotate(270deg);
  cursor: pointer;
}
.flow-toolbox {
  height: 100%;
  overflow: auto;
  background-color: var(--vscode-sideBar-background);
}

.flow-values {
  position: absolute;
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  top: 50px;
  left: 20px;
  display: none;
}
.flow-values-help {
  margin-left: 10px;
  vertical-align: middle;
  outline: none;
}
.flow-values-help:focus {
  outline: none;
}
.flow-values-content {
  height: 100%;
}
.flow-values-files {
  margin-left: 8px;
  margin-right: auto !important;
}

/* customized flowbee styles */
.flowbee-configurator {
  width: calc(100% - 200px);
  height: 167px; /* enough for five tabs */
}

