/* default is light theme */
.flowbee-diagram-light {
  color: #000000;
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  min-width: 640px;
  min-height: 480px;
  padding: 25px;
  /* boundary size (make extra room) */ }
  .flowbee-diagram-light .grid {
    color: #f0f0f0;
    width: 10px; }
  .flowbee-diagram-light .title {
    color: #360303;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold; }
  .flowbee-diagram-light .label .select {
    color: #e91e63;
    padding: 4px;
    border-radius: 4px; }
  .flowbee-diagram-light .line {
    width: 1px; }
  .flowbee-diagram-light .drag {
    min-width: 3px; }
  .flowbee-diagram-light .meta {
    color: #808080; }
  .flowbee-diagram-light .status .pending {
    color: #1a75ff; }
  .flowbee-diagram-light .status .in-progress {
    color: #009900; }
  .flowbee-diagram-light .status .waiting {
    color: #ffff00; }
  .flowbee-diagram-light .status .failed {
    color: #e60000; }
  .flowbee-diagram-light .status .errored {
    color: #e60000; }
  .flowbee-diagram-light .status .completed {
    color: #0d0d0d; }
  .flowbee-diagram-light .status .canceled {
    color: #a9a9a9; }
  .flowbee-diagram-light .step {
    border-color: #000000;
    border-radius: 12px;
    min-width: 4px;
    min-height: 4px; }
    .flowbee-diagram-light .step .start {
      color: #000000;
      background-color: #98fb98; }
    .flowbee-diagram-light .step .stop {
      color: #000000;
      background-color: #ff8c86; }
    .flowbee-diagram-light .step .pause {
      color: #000000;
      background-color: #fffd87; }
    .flowbee-diagram-light .step .state {
      width: 8px; }
      .flowbee-diagram-light .step .state .previous {
        width: 4px; }
  .flowbee-diagram-light .link {
    color: #9e9e9e;
    width: 3px; }
    .flowbee-diagram-light .link .draw {
      color: #008000; }
    .flowbee-diagram-light .link .hit {
      width: 8px; }
    .flowbee-diagram-light .link .status .initiated {
      color: #0000ff; }
    .flowbee-diagram-light .link .status .traversed {
      color: #000000; }
  .flowbee-diagram-light .subflow {
    border-radius: 12px;
    border-color: #337ab7;
    min-width: 40px;
    min-height: 20px; }
    .flowbee-diagram-light .subflow .hit {
      width: 7px; }
  .flowbee-diagram-light .note {
    color: #101010;
    background-color: #ffffcc;
    border-color: #808080;
    font-family: monospace;
    font-size: 13px;
    border-radius: 2px;
    border-color: #d3d3d3;
    min-width: 40px;
    min-height: 20px;
    padding: 4px; }
  .flowbee-diagram-light .milestone {
    background-color: #4cafea; }
  .flowbee-diagram-light .anchor {
    width: 3px;
    color: #ec407a; }
    .flowbee-diagram-light .anchor .hit {
      width: 8px; }
  .flowbee-diagram-light .marquee {
    border-color: #00ffff;
    border-radius: 2px; }
  .flowbee-diagram-light .highlight {
    padding: 10px;
    border-color: #03a9f4;
    border-width: 3px; }
  .flowbee-diagram-light .hyperlink {
    color: #1565c0; }
  .flowbee-diagram-light .data {
    border-radius: 12px; }

.flowbee-diagram-dark {
  color: #000000;
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  min-width: 640px;
  min-height: 480px;
  padding: 25px;
  /* boundary size (make extra room) */
  color: #d4d4d4;
  background-color: #1e1e1e; }
  .flowbee-diagram-dark .grid {
    color: #f0f0f0;
    width: 10px; }
  .flowbee-diagram-dark .title {
    color: #360303;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold; }
  .flowbee-diagram-dark .label .select {
    color: #e91e63;
    padding: 4px;
    border-radius: 4px; }
  .flowbee-diagram-dark .line {
    width: 1px; }
  .flowbee-diagram-dark .drag {
    min-width: 3px; }
  .flowbee-diagram-dark .meta {
    color: #808080; }
  .flowbee-diagram-dark .status .pending {
    color: #1a75ff; }
  .flowbee-diagram-dark .status .in-progress {
    color: #009900; }
  .flowbee-diagram-dark .status .waiting {
    color: #ffff00; }
  .flowbee-diagram-dark .status .failed {
    color: #e60000; }
  .flowbee-diagram-dark .status .errored {
    color: #e60000; }
  .flowbee-diagram-dark .status .completed {
    color: #0d0d0d; }
  .flowbee-diagram-dark .status .canceled {
    color: #a9a9a9; }
  .flowbee-diagram-dark .step {
    border-color: #000000;
    border-radius: 12px;
    min-width: 4px;
    min-height: 4px; }
    .flowbee-diagram-dark .step .start {
      color: #000000;
      background-color: #98fb98; }
    .flowbee-diagram-dark .step .stop {
      color: #000000;
      background-color: #ff8c86; }
    .flowbee-diagram-dark .step .pause {
      color: #000000;
      background-color: #fffd87; }
    .flowbee-diagram-dark .step .state {
      width: 8px; }
      .flowbee-diagram-dark .step .state .previous {
        width: 4px; }
  .flowbee-diagram-dark .link {
    color: #9e9e9e;
    width: 3px; }
    .flowbee-diagram-dark .link .draw {
      color: #008000; }
    .flowbee-diagram-dark .link .hit {
      width: 8px; }
    .flowbee-diagram-dark .link .status .initiated {
      color: #0000ff; }
    .flowbee-diagram-dark .link .status .traversed {
      color: #000000; }
  .flowbee-diagram-dark .subflow {
    border-radius: 12px;
    border-color: #337ab7;
    min-width: 40px;
    min-height: 20px; }
    .flowbee-diagram-dark .subflow .hit {
      width: 7px; }
  .flowbee-diagram-dark .note {
    color: #101010;
    background-color: #ffffcc;
    border-color: #808080;
    font-family: monospace;
    font-size: 13px;
    border-radius: 2px;
    border-color: #d3d3d3;
    min-width: 40px;
    min-height: 20px;
    padding: 4px; }
  .flowbee-diagram-dark .milestone {
    background-color: #4cafea; }
  .flowbee-diagram-dark .anchor {
    width: 3px;
    color: #ec407a; }
    .flowbee-diagram-dark .anchor .hit {
      width: 8px; }
  .flowbee-diagram-dark .marquee {
    border-color: #00ffff;
    border-radius: 2px; }
  .flowbee-diagram-dark .highlight {
    padding: 10px;
    border-color: #03a9f4;
    border-width: 3px; }
  .flowbee-diagram-dark .hyperlink {
    color: #1565c0; }
  .flowbee-diagram-dark .data {
    border-radius: 12px; }
  .flowbee-diagram-dark .grid {
    color: #303030; }
  .flowbee-diagram-dark .title {
    color: #d4d4d4; }
  .flowbee-diagram-dark .status .pending {
    color: #1a75ff; }
  .flowbee-diagram-dark .status .in-progress {
    color: #00cc00; }
  .flowbee-diagram-dark .status .waiting {
    color: #fff44f; }
  .flowbee-diagram-dark .status .failed {
    color: #cc0000; }
  .flowbee-diagram-dark .status .errored {
    color: #cc0000; }
  .flowbee-diagram-dark .status .completed {
    color: #cccccc; }
  .flowbee-diagram-dark .status .canceled {
    color: #595959; }
  .flowbee-diagram-dark .step {
    border-color: #bbbbbb; }
  .flowbee-diagram-dark .link {
    color: #9e9e9e; }
    .flowbee-diagram-dark .link .status .initiated {
      color: #0000ff; }
    .flowbee-diagram-dark .link .status .traversed {
      color: #cccccc; }
  .flowbee-diagram-dark .subflow {
    border-color: #4ba5c7; }
  .flowbee-diagram-dark .note {
    border-color: #d3d3d3; }

.flowbee-toolbar-light {
  display: flex;
  height: 25px;
  padding-top: 1px;
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #dddddd; }
  .flowbee-toolbar-light .hidden {
    display: none; }
  .flowbee-toolbar-light .drawing-tools {
    padding-top: 1px;
    padding-left: 10px; }
    .flowbee-toolbar-light .drawing-tools .unselected {
      opacity: 0.5; }
  .flowbee-toolbar-light .drawing-tools input[type='image'] {
    margin-right: 10px;
    width: 16px; }
  .flowbee-toolbar-light .drawing-tools #zoom-out {
    margin-right: 0; }
  .flowbee-toolbar-light .drawing-tools input[type='image']:focus {
    outline: none; }
  .flowbee-toolbar-light .drawing-tools input[type='image']:disabled {
    opacity: 0.5; }
  .flowbee-toolbar-light .drawing-tools input[type='range'] {
    width: 80px;
    height: 2px;
    position: relative;
    top: -9px;
    background-color: #616161cc;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; }
  .flowbee-toolbar-light .drawing-tools input[type='range']:focus {
    outline: none; }
  .flowbee-toolbar-light .drawing-tools input[type='range']::-webkit-slider-runnable-track {
    height: 2px;
    background: #616161cc; }
  .flowbee-toolbar-light .drawing-tools input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #616161cc;
    margin-top: -4px; }
  .flowbee-toolbar-light .tool-group {
    margin-left: 15px;
    border-left: 1px solid #e7e7e7; }
  .flowbee-toolbar-light .mode-group {
    padding-top: 0;
    padding-left: 5px;
    margin-left: 0;
    margin-right: 0; }
  .flowbee-toolbar-light .mode-select {
    padding: 3px 5px 0 6px;
    border-radius: 2px;
    user-select: none;
    transform: scale(1.2);
    filter: contrast(1.4); }
    .flowbee-toolbar-light .mode-select #runtime {
      width: 15px;
      height: 14px; }
  .flowbee-toolbar-light .mode-select:hover {
    background-color: #e4e6f1;
    cursor: pointer; }
  .flowbee-toolbar-light .mode-select input[type='image'] {
    width: 14px;
    margin-right: 0; }
  .flowbee-toolbar-light .mode-menu {
    position: absolute;
    list-style-type: none;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 3px;
    user-select: none;
    outline: none;
    z-index: 1000; }
  .flowbee-toolbar-light .mode-menu li {
    white-space: nowrap;
    line-height: 20px;
    padding: 0 8px 2px 8px; }
  .flowbee-toolbar-light .mode-menu li:hover {
    color: #ffffff;
    background-color: #0060c0; }
  .flowbee-toolbar-light .mode-menu img {
    width: 12px;
    vertical-align: middle;
    margin-right: 5px; }
  .flowbee-toolbar-light .drop-caret {
    transform: scale(1, 0.5);
    display: inline-block;
    position: relative;
    top: -2px;
    opacity: 0.5; }
  .flowbee-toolbar-light .action-group {
    flex-grow: 1;
    margin-left: 7px; }
  .flowbee-toolbar-light .icon-link {
    outline: none; }
  .flowbee-toolbar-light .icon-link:focus {
    outline: none; }

.flowbee-toolbar-dark {
  display: flex;
  height: 25px;
  padding-top: 1px;
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #dddddd;
  background-color: #1e1e1e;
  border-top: #252526;
  border-bottom: #000000; }
  .flowbee-toolbar-dark .hidden {
    display: none; }
  .flowbee-toolbar-dark .drawing-tools {
    padding-top: 1px;
    padding-left: 10px; }
    .flowbee-toolbar-dark .drawing-tools .unselected {
      opacity: 0.5; }
  .flowbee-toolbar-dark .drawing-tools input[type='image'] {
    margin-right: 10px;
    width: 16px; }
  .flowbee-toolbar-dark .drawing-tools #zoom-out {
    margin-right: 0; }
  .flowbee-toolbar-dark .drawing-tools input[type='image']:focus {
    outline: none; }
  .flowbee-toolbar-dark .drawing-tools input[type='image']:disabled {
    opacity: 0.5; }
  .flowbee-toolbar-dark .drawing-tools input[type='range'] {
    width: 80px;
    height: 2px;
    position: relative;
    top: -9px;
    background-color: #616161cc;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; }
  .flowbee-toolbar-dark .drawing-tools input[type='range']:focus {
    outline: none; }
  .flowbee-toolbar-dark .drawing-tools input[type='range']::-webkit-slider-runnable-track {
    height: 2px;
    background: #616161cc; }
  .flowbee-toolbar-dark .drawing-tools input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #616161cc;
    margin-top: -4px; }
  .flowbee-toolbar-dark .tool-group {
    margin-left: 15px;
    border-left: 1px solid #e7e7e7; }
  .flowbee-toolbar-dark .mode-group {
    padding-top: 0;
    padding-left: 5px;
    margin-left: 0;
    margin-right: 0; }
  .flowbee-toolbar-dark .mode-select {
    padding: 3px 5px 0 6px;
    border-radius: 2px;
    user-select: none;
    transform: scale(1.2);
    filter: contrast(1.4); }
    .flowbee-toolbar-dark .mode-select #runtime {
      width: 15px;
      height: 14px; }
  .flowbee-toolbar-dark .mode-select:hover {
    background-color: #e4e6f1;
    cursor: pointer; }
  .flowbee-toolbar-dark .mode-select input[type='image'] {
    width: 14px;
    margin-right: 0; }
  .flowbee-toolbar-dark .mode-menu {
    position: absolute;
    list-style-type: none;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 3px;
    user-select: none;
    outline: none;
    z-index: 1000; }
  .flowbee-toolbar-dark .mode-menu li {
    white-space: nowrap;
    line-height: 20px;
    padding: 0 8px 2px 8px; }
  .flowbee-toolbar-dark .mode-menu li:hover {
    color: #ffffff;
    background-color: #0060c0; }
  .flowbee-toolbar-dark .mode-menu img {
    width: 12px;
    vertical-align: middle;
    margin-right: 5px; }
  .flowbee-toolbar-dark .drop-caret {
    transform: scale(1, 0.5);
    display: inline-block;
    position: relative;
    top: -2px;
    opacity: 0.5; }
  .flowbee-toolbar-dark .action-group {
    flex-grow: 1;
    margin-left: 7px; }
  .flowbee-toolbar-dark .icon-link {
    outline: none; }
  .flowbee-toolbar-dark .icon-link:focus {
    outline: none; }
  .flowbee-toolbar-dark .drawing-tools input[type='range'] {
    background-color: #cccccccc; }
  .flowbee-toolbar-dark .drawing-tools input[type='range']::-webkit-slider-runnable-track {
    background-color: #cccccccc; }
  .flowbee-toolbar-dark .drawing-tools input[type='range']::-webkit-slider-thumb {
    background-color: #cccccccc; }
  .flowbee-toolbar-dark .tool-group {
    border-left: 1px solid #444444; }
  .flowbee-toolbar-dark .mode-select:hover {
    background-color: #37373d; }
  .flowbee-toolbar-dark .mode-menu {
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c; }
  .flowbee-toolbar-dark .mode-menu li:hover {
    color: #ffffff;
    background-color: #094771; }

.flowbee-toolbox-light {
  height: 100%;
  overflow: auto;
  color: #303030;
  background-color: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px; }
  .flowbee-toolbox-light ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .flowbee-toolbox-light ul li {
      height: 24px;
      display: flex;
      cursor: pointer;
      white-space: nowrap;
      padding: 0 5px;
      line-height: 22px; }
      .flowbee-toolbox-light ul li img {
        width: 20px;
        min-width: 20px;
        vertical-align: middle;
        margin-bottom: 2px;
        user-select: none;
        cursor: pointer; }
      .flowbee-toolbox-light ul li svg {
        width: 20px;
        min-width: 20px;
        vertical-align: middle;
        margin-bottom: 2px;
        user-select: none;
        cursor: pointer; }
      .flowbee-toolbox-light ul li label {
        padding-left: 7px;
        user-select: none;
        cursor: pointer; }
      .flowbee-toolbox-light ul li a {
        font-size: 11px;
        margin-left: 5px;
        margin-right: 15px;
        text-decoration: none;
        outline: none; }
      .flowbee-toolbox-light ul li a:hover {
        cursor: pointer;
        text-decoration: underline; }
    .flowbee-toolbox-light ul li:focus {
      color: #ffffff;
      background-color: #146dee;
      outline-width: 0; }

.flowbee-toolbox-dark {
  height: 100%;
  overflow: auto;
  color: #303030;
  background-color: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;
  color: #cccccc;
  background-color: #252526; }
  .flowbee-toolbox-dark ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .flowbee-toolbox-dark ul li {
      height: 24px;
      display: flex;
      cursor: pointer;
      white-space: nowrap;
      padding: 0 5px;
      line-height: 22px; }
      .flowbee-toolbox-dark ul li img {
        width: 20px;
        min-width: 20px;
        vertical-align: middle;
        margin-bottom: 2px;
        user-select: none;
        cursor: pointer; }
      .flowbee-toolbox-dark ul li svg {
        width: 20px;
        min-width: 20px;
        vertical-align: middle;
        margin-bottom: 2px;
        user-select: none;
        cursor: pointer; }
      .flowbee-toolbox-dark ul li label {
        padding-left: 7px;
        user-select: none;
        cursor: pointer; }
      .flowbee-toolbox-dark ul li a {
        font-size: 11px;
        margin-left: 5px;
        margin-right: 15px;
        text-decoration: none;
        outline: none; }
      .flowbee-toolbox-dark ul li a:hover {
        cursor: pointer;
        text-decoration: underline; }
    .flowbee-toolbox-dark ul li:focus {
      color: #ffffff;
      background-color: #146dee;
      outline-width: 0; }
  .flowbee-toolbox-dark ul li:focus {
    background-color: #0a4574; }

.flowbee-configurator-light {
  display: none;
  width: 600px;
  height: 200px;
  position: fixed;
  left: 15px;
  top: 15px;
  flex-direction: column;
  background-color: #ffffff;
  color: #616161;
  border: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px #a8a8a8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-sizing: border-box; }
  .flowbee-configurator-light .flowbee-config-header {
    display: flex;
    height: 30px;
    background-color: #e6e6e6;
    color: #616161;
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 5px 0 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-configurator-light .flowbee-config-title {
    flex-grow: 1;
    user-select: none; }
  .flowbee-configurator-light .flowbee-config-title a {
    text-decoration: none;
    margin-left: 7px;
    font-weight: normal; }
  .flowbee-configurator-light .flowbee-edit-icon {
    cursor: pointer;
    user-select: none;
    margin-right: 5px; }
  .flowbee-configurator-light .flowbee-config-close {
    cursor: pointer;
    user-select: none; }
  .flowbee-configurator-light .flowbee-config-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; }
  .flowbee-configurator-light .flowbee-config-tabbed-content {
    display: flex; }
  .flowbee-configurator-light .flowbee-config-tabs {
    list-style: none;
    width: 140px;
    background-color: #ececec;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none; }
  .flowbee-configurator-light .flowbee-config-tab {
    background-color: #ececec;
    color: #6a6a6a;
    border-bottom: 1px solid #ffffff;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer; }
  .flowbee-configurator-light .flowbee-config-tab-active {
    background-color: #ffffff;
    color: #333333; }
  .flowbee-configurator-light .flowbee-config-tab-content {
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 10px 15px;
    width: 100%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box; }
  .flowbee-configurator-light .flowbee-config-tab-content label {
    height: fit-content;
    padding-top: 3px; }
  .flowbee-configurator-light .flowbee-config-tab-content span {
    height: fit-content; }
  .flowbee-configurator-light .flowbee-config-tab-content input {
    background-color: #ffffff; }
  .flowbee-configurator-light .flowbee-config-tab-content input[type=text] {
    border-width: 1px;
    border-style: solid; }
  .flowbee-configurator-light .flowbee-config-tab-content input[type=number] {
    border-width: 1px;
    border-style: solid;
    width: 64px; }
  .flowbee-configurator-light .flowbee-config-tab-content input[type=checkbox] {
    margin-top: 5px;
    opacity: .75;
    width: fit-content; }
  .flowbee-configurator-light .flowbee-config-tab-content input[type=radio] {
    opacity: .75; }
  .flowbee-configurator-light .flowbee-config-tab-content button {
    background-color: #007acc;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 4px 10px;
    margin-right: 10px;
    width: fit-content; }
  .flowbee-configurator-light .flowbee-config-tab-content button:hover {
    background-color: #0062a3; }
  .flowbee-configurator-light .flowbee-config-tab-content select {
    width: fit-content; }
  .flowbee-configurator-light .flowbee-config-tab-content textarea {
    grid-column: 1/3;
    background-color: #ffffff;
    color: #404040; }
  .flowbee-configurator-light .flowbee-config-tab-content code {
    grid-column: 1/3;
    white-space: pre;
    overflow: auto;
    padding: 3px;
    border-width: 0;
    outline-offset: 0;
    outline-style: solid;
    outline-width: 1px;
    border-width: 0;
    background-color: #ffffff;
    color: #404040; }
  .flowbee-configurator-light .flowbee-config-tab-content pre {
    outline: none; }
  .flowbee-configurator-light .flowbee-config-tab-content a {
    outline: none;
    text-decoration: none;
    padding-top: 5px; }
  .flowbee-configurator-light .flowbee-config-tab-content a:hover {
    text-decoration: underline;
    cursor: pointer; }
  .flowbee-configurator-light .flowbee-config-tab-content table {
    grid-column: 1/3;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    height: fit-content; }
  .flowbee-configurator-light .flowbee-table-select-link {
    position: relative;
    top: -1px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 6px; }
  .flowbee-configurator-light .flowbee-config-tab-content th, .flowbee-configurator-light td {
    border: 1px solid #e0e0e0;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 25px;
    white-space: nowrap; }
  .flowbee-configurator-light .flowbee-config-tab-content div > label {
    padding-right: 10px;
    position: relative;
    top: -2px; }
  .flowbee-configurator-light .flowbee-config-footer {
    display: flex;
    justify-content: flex-end;
    height: 32px;
    background-color: #e6e6e6;
    color: #616161;
    border-top: 1px solid #c8c8c8;
    padding: 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-configurator-light .flowbee-config-footer input[type=button] {
    border-width: 1px;
    margin-right: 10px; }

.flowbee-configurator-dark {
  display: none;
  width: 600px;
  height: 200px;
  position: fixed;
  left: 15px;
  top: 15px;
  flex-direction: column;
  background-color: #ffffff;
  color: #616161;
  border: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px #a8a8a8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #cccccc;
  border: 1px solid #454545;
  box-shadow: 0 2px 8px #000000; }
  .flowbee-configurator-dark .flowbee-config-header {
    display: flex;
    height: 30px;
    background-color: #e6e6e6;
    color: #616161;
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 5px 0 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-configurator-dark .flowbee-config-title {
    flex-grow: 1;
    user-select: none; }
  .flowbee-configurator-dark .flowbee-config-title a {
    text-decoration: none;
    margin-left: 7px;
    font-weight: normal; }
  .flowbee-configurator-dark .flowbee-edit-icon {
    cursor: pointer;
    user-select: none;
    margin-right: 5px; }
  .flowbee-configurator-dark .flowbee-config-close {
    cursor: pointer;
    user-select: none; }
  .flowbee-configurator-dark .flowbee-config-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; }
  .flowbee-configurator-dark .flowbee-config-tabbed-content {
    display: flex; }
  .flowbee-configurator-dark .flowbee-config-tabs {
    list-style: none;
    width: 140px;
    background-color: #ececec;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none; }
  .flowbee-configurator-dark .flowbee-config-tab {
    background-color: #ececec;
    color: #6a6a6a;
    border-bottom: 1px solid #ffffff;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer; }
  .flowbee-configurator-dark .flowbee-config-tab-active {
    background-color: #ffffff;
    color: #333333; }
  .flowbee-configurator-dark .flowbee-config-tab-content {
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 10px 15px;
    width: 100%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box; }
  .flowbee-configurator-dark .flowbee-config-tab-content label {
    height: fit-content;
    padding-top: 3px; }
  .flowbee-configurator-dark .flowbee-config-tab-content span {
    height: fit-content; }
  .flowbee-configurator-dark .flowbee-config-tab-content input {
    background-color: #ffffff; }
  .flowbee-configurator-dark .flowbee-config-tab-content input[type=text] {
    border-width: 1px;
    border-style: solid; }
  .flowbee-configurator-dark .flowbee-config-tab-content input[type=number] {
    border-width: 1px;
    border-style: solid;
    width: 64px; }
  .flowbee-configurator-dark .flowbee-config-tab-content input[type=checkbox] {
    margin-top: 5px;
    opacity: .75;
    width: fit-content; }
  .flowbee-configurator-dark .flowbee-config-tab-content input[type=radio] {
    opacity: .75; }
  .flowbee-configurator-dark .flowbee-config-tab-content button {
    background-color: #007acc;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 4px 10px;
    margin-right: 10px;
    width: fit-content; }
  .flowbee-configurator-dark .flowbee-config-tab-content button:hover {
    background-color: #0062a3; }
  .flowbee-configurator-dark .flowbee-config-tab-content select {
    width: fit-content; }
  .flowbee-configurator-dark .flowbee-config-tab-content textarea {
    grid-column: 1/3;
    background-color: #ffffff;
    color: #404040; }
  .flowbee-configurator-dark .flowbee-config-tab-content code {
    grid-column: 1/3;
    white-space: pre;
    overflow: auto;
    padding: 3px;
    border-width: 0;
    outline-offset: 0;
    outline-style: solid;
    outline-width: 1px;
    border-width: 0;
    background-color: #ffffff;
    color: #404040; }
  .flowbee-configurator-dark .flowbee-config-tab-content pre {
    outline: none; }
  .flowbee-configurator-dark .flowbee-config-tab-content a {
    outline: none;
    text-decoration: none;
    padding-top: 5px; }
  .flowbee-configurator-dark .flowbee-config-tab-content a:hover {
    text-decoration: underline;
    cursor: pointer; }
  .flowbee-configurator-dark .flowbee-config-tab-content table {
    grid-column: 1/3;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    height: fit-content; }
  .flowbee-configurator-dark .flowbee-table-select-link {
    position: relative;
    top: -1px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 6px; }
  .flowbee-configurator-dark .flowbee-config-tab-content th, .flowbee-configurator-dark td {
    border: 1px solid #e0e0e0;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 25px;
    white-space: nowrap; }
  .flowbee-configurator-dark .flowbee-config-tab-content div > label {
    padding-right: 10px;
    position: relative;
    top: -2px; }
  .flowbee-configurator-dark .flowbee-config-footer {
    display: flex;
    justify-content: flex-end;
    height: 32px;
    background-color: #e6e6e6;
    color: #616161;
    border-top: 1px solid #c8c8c8;
    padding: 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-configurator-dark .flowbee-config-footer input[type=button] {
    border-width: 1px;
    margin-right: 10px; }
  .flowbee-configurator-dark .flowbee-config-header {
    background-color: #323232;
    color: #c8c8c8;
    border-bottom: 1px solid #454545; }
  .flowbee-configurator-dark .flowbee-config-tabs {
    background-color: #2d2d2d; }
  .flowbee-configurator-dark .flowbee-config-tab {
    background-color: #2d2d2d;
    color: #969696;
    border-bottom: 1px solid #1e1e1e; }
  .flowbee-configurator-dark .flowbee-config-tab-active {
    background-color: #1e1e1e;
    color: #eaeaea; }
  .flowbee-configurator-dark .flowbee-config-tab-content input {
    background-color: #3c3c3c;
    color: #cccccc; }
  .flowbee-configurator-dark .flowbee-config-tab-content button {
    background-color: #0e639c; }
  .flowbee-configurator-dark .flowbee-config-tab-content button:hover {
    background-color: #1177bb; }
  .flowbee-configurator-dark .flowbee-config-tab-content select {
    background-color: #3c3c3c;
    color: #cccccc; }
  .flowbee-configurator-dark .flowbee-config-tab-content textarea {
    background-color: #3c3c3c;
    color: #cccccc; }
  .flowbee-configurator-dark .flowbee-config-tab-content code {
    background-color: #3c3c3c;
    color: #cccccc; }
  .flowbee-configurator-dark .flowbee-config-tab-content table {
    background-color: #3c3c3c;
    color: #cccccc; }
  .flowbee-configurator-dark .flowbee-config-tab-content th, .flowbee-configurator-dark td {
    border: 1px solid #606060; }
  .flowbee-configurator-dark .flowbee-config-footer {
    background-color: #323232;
    color: #c8c8c8;
    border-bottom: 1px solid #454545; }
  .flowbee-configurator-dark .flowbee-config-footer input[type=button] {
    background-color: #c8c8c8; }

.flowbee-popup-light {
  display: none;
  z-index: 100;
  position: absolute;
  width: calc(100% - 260px);
  height: calc(100% - 100px);
  top: 50px;
  left: 50px;
  flex-direction: column;
  background-color: #ffffff;
  color: #616161;
  border: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px #a8a8a8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  outline: none; }
  .flowbee-popup-light .flowbee-popup-header {
    display: flex;
    height: 30px;
    background-color: #f8f8f8;
    color: #616161;
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 5px 0 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-popup-light .flowbee-popup-title {
    flex-grow: 1;
    user-select: none; }
  .flowbee-popup-light .flowbee-popup-title a {
    text-decoration: none;
    margin-left: 7px;
    font-weight: normal; }
  .flowbee-popup-light .flowbee-popup-help {
    margin-left: 10px;
    vertical-align: middle;
    outline: none; }
  .flowbee-popup-light .flowbee-popup-help:focus {
    outline: none; }
  .flowbee-popup-light .flowbee-popup-close {
    cursor: pointer;
    user-select: none; }
  .flowbee-popup-light .flowbee-popup-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 10px;
    background-color: #ffffff; }
  .flowbee-popup-light .flowbee-popup-content table {
    width: 100%;
    grid-column: 1/3;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    height: fit-content; }
  .flowbee-popup-light .flowbee-popup-content th, .flowbee-popup-light td {
    border: 1px solid #e0e0e0;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .flowbee-popup-light .flowbee-popup-footer {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    background-color: #f8f8f8;
    color: #616161;
    border-top: 1px solid #c0c0c0;
    padding: 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-popup-light .flowbee-popup-footer input[type=button] {
    border-width: 1px;
    margin-right: 10px; }

.flowbee-popup-dark {
  display: none;
  z-index: 100;
  position: absolute;
  width: calc(100% - 260px);
  height: calc(100% - 100px);
  top: 50px;
  left: 50px;
  flex-direction: column;
  background-color: #ffffff;
  color: #616161;
  border: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px #a8a8a8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  background-color: #1e1e1e;
  color: #cccccc;
  border: 1px solid #454545;
  box-shadow: 0 2px 8px #000000; }
  .flowbee-popup-dark .flowbee-popup-header {
    display: flex;
    height: 30px;
    background-color: #f8f8f8;
    color: #616161;
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 5px 0 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-popup-dark .flowbee-popup-title {
    flex-grow: 1;
    user-select: none; }
  .flowbee-popup-dark .flowbee-popup-title a {
    text-decoration: none;
    margin-left: 7px;
    font-weight: normal; }
  .flowbee-popup-dark .flowbee-popup-help {
    margin-left: 10px;
    vertical-align: middle;
    outline: none; }
  .flowbee-popup-dark .flowbee-popup-help:focus {
    outline: none; }
  .flowbee-popup-dark .flowbee-popup-close {
    cursor: pointer;
    user-select: none; }
  .flowbee-popup-dark .flowbee-popup-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 10px;
    background-color: #ffffff; }
  .flowbee-popup-dark .flowbee-popup-content table {
    width: 100%;
    grid-column: 1/3;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    height: fit-content; }
  .flowbee-popup-dark .flowbee-popup-content th, .flowbee-popup-dark td {
    border: 1px solid #e0e0e0;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .flowbee-popup-dark .flowbee-popup-footer {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    background-color: #f8f8f8;
    color: #616161;
    border-top: 1px solid #c0c0c0;
    padding: 5px;
    font-weight: 500;
    box-sizing: border-box; }
  .flowbee-popup-dark .flowbee-popup-footer input[type=button] {
    border-width: 1px;
    margin-right: 10px; }
  .flowbee-popup-dark .flowbee-popup-header {
    background-color: #323232;
    color: #c8c8c8;
    border-bottom: 1px solid #454545; }
  .flowbee-popup-dark .flowbee-popup-content {
    background-color: #252526; }
  .flowbee-popup-dark .flowbee-popup-content table {
    background-color: #3c3c3c;
    color: #cccccc; }
  .flowbee-popup-dark .flowbee-popup-content th, .flowbee-popup-dark td {
    border: 1px solid #606060; }
  .flowbee-popup-dark .flowbee-popup-footer {
    background-color: #323232;
    color: #c8c8c8;
    border-top: 1px solid #454545; }
  .flowbee-popup-dark .flowbee-popup-footer input[type=button] {
    background-color: #c8c8c8; }

.flowbee-tree-light {
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;
  color: #303030;
  background-color: '#ffffff'; }
  .flowbee-tree-light ul {
    margin: 0;
    padding: 0 0 0 12px;
    list-style-type: none; }
    .flowbee-tree-light ul li {
      user-select: none;
      white-space: nowrap;
      padding-left: 3px;
      cursor: pointer; }
    .flowbee-tree-light ul li:focus {
      outline-width: 0;
      color: #ffffff;
      background-color: #146dee; }
    .flowbee-tree-light ul .flowbee-caret {
      cursor: pointer;
      user-select: none;
      color: #505050; }
    .flowbee-tree-light ul .flowbee-caret::before {
      content: "\25BC";
      display: inline-block;
      margin-right: 6px; }
    .flowbee-tree-light ul .flowbee-caret-closed::before {
      transform: rotate(-90deg); }
    .flowbee-tree-light ul .flowbee-nested {
      display: block; }
    .flowbee-tree-light ul .flowbee-hidden {
      display: none; }
    .flowbee-tree-light ul .flowbee-flow-icon {
      width: 10px;
      margin-right: 3px; }

.flowbee-tree-dark {
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 13px;
  color: #303030;
  background-color: '#ffffff';
  color: #cccccc;
  background-color: #252526; }
  .flowbee-tree-dark ul {
    margin: 0;
    padding: 0 0 0 12px;
    list-style-type: none; }
    .flowbee-tree-dark ul li {
      user-select: none;
      white-space: nowrap;
      padding-left: 3px;
      cursor: pointer; }
    .flowbee-tree-dark ul li:focus {
      outline-width: 0;
      color: #ffffff;
      background-color: #146dee; }
    .flowbee-tree-dark ul .flowbee-caret {
      cursor: pointer;
      user-select: none;
      color: #505050; }
    .flowbee-tree-dark ul .flowbee-caret::before {
      content: "\25BC";
      display: inline-block;
      margin-right: 6px; }
    .flowbee-tree-dark ul .flowbee-caret-closed::before {
      transform: rotate(-90deg); }
    .flowbee-tree-dark ul .flowbee-nested {
      display: block; }
    .flowbee-tree-dark ul .flowbee-hidden {
      display: none; }
    .flowbee-tree-dark ul .flowbee-flow-icon {
      width: 10px;
      margin-right: 3px; }
  .flowbee-tree-dark ul li:focus {
    background-color: #0a4574; }
  .flowbee-tree-dark ul .flowbee-caret {
    color: #cccccc; }

.flowbee-menu-light {
  color: #303030;
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 14px;
  border: 1px solid #909090;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
  line-height: 15px; }
  .flowbee-menu-light ul {
    min-width: 150px;
    margin: 0;
    padding: 5px 0;
    list-style-type: none; }
    .flowbee-menu-light ul li {
      height: 22px;
      display: flex;
      white-space: nowrap;
      padding: 0 10px 0 5px;
      line-height: 22px; }
      .flowbee-menu-light ul li img {
        width: 16px;
        min-width: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
        user-select: none; }
      .flowbee-menu-light ul li label {
        user-select: none;
        flex-grow: 1; }
      .flowbee-menu-light ul li span {
        margin-left: 20px; }
      .flowbee-menu-light ul li hr {
        height: 0;
        margin: 5px 0 0 0;
        border-bottom: 1px solid #e5e5e5;
        border-style: solid;
        color: #e5e5e5; }
    .flowbee-menu-light ul li:hover {
      color: #ffffff;
      background-color: #146dee;
      outline-width: 0; }
    .flowbee-menu-light ul .separator {
      display: block;
      padding: 0;
      height: 7px; }

.flowbee-menu-dark {
  color: #303030;
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, Ubuntu, "Droid Sans", sans-serif;
  font-size: 14px;
  border: 1px solid #909090;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
  line-height: 15px; }
  .flowbee-menu-dark ul {
    min-width: 150px;
    margin: 0;
    padding: 5px 0;
    list-style-type: none; }
    .flowbee-menu-dark ul li {
      height: 22px;
      display: flex;
      white-space: nowrap;
      padding: 0 10px 0 5px;
      line-height: 22px; }
      .flowbee-menu-dark ul li img {
        width: 16px;
        min-width: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
        user-select: none; }
      .flowbee-menu-dark ul li label {
        user-select: none;
        flex-grow: 1; }
      .flowbee-menu-dark ul li span {
        margin-left: 20px; }
      .flowbee-menu-dark ul li hr {
        height: 0;
        margin: 5px 0 0 0;
        border-bottom: 1px solid #e5e5e5;
        border-style: solid;
        color: #e5e5e5; }
    .flowbee-menu-dark ul li:hover {
      color: #ffffff;
      background-color: #146dee;
      outline-width: 0; }
    .flowbee-menu-dark ul .separator {
      display: block;
      padding: 0;
      height: 7px; }

.flowbee-tipped {
  position: relative; }

.flowbee-tooltip-light {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 4px 8px 3px 8px;
  line-height: 22px;
  font-weight: 500;
  background-color: #f3f3f3;
  color: #616161;
  border: 1px solid #f3f3f3; }
  .flowbee-tooltip-light .tooltip-label {
    margin-right: 4px;
    font-size: 12px; }
  .flowbee-tooltip-light .tooltip-value {
    font-size: 12.5px;
    padding: 1px 3px;
    font-family: Menlo, Monaco, "Courier New", monospace; }
  .flowbee-tooltip-light .tooltip-link {
    cursor: pointer;
    font-size: 12.5px; }
  .flowbee-tooltip-light .tooltip-line {
    border: 1px solid #dddddd; }
  .flowbee-tooltip-light .tooltip-value {
    background-color: #eaeaea;
    color: #a31516; }
  .flowbee-tooltip-light .tooltip-link {
    color: #217dba; }

.flowbee-tipped:hover .flowbee-tooltip-light {
  display: block; }

.flowbee-tooltip-dark {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 4px 8px 3px 8px;
  line-height: 22px;
  font-weight: 500;
  background-color: #252526;
  color: #cccccc;
  border: 1px solid #454545; }
  .flowbee-tooltip-dark .tooltip-label {
    margin-right: 4px;
    font-size: 12px; }
  .flowbee-tooltip-dark .tooltip-value {
    font-size: 12.5px;
    padding: 1px 3px;
    font-family: Menlo, Monaco, "Courier New", monospace; }
  .flowbee-tooltip-dark .tooltip-link {
    cursor: pointer;
    font-size: 12.5px; }
  .flowbee-tooltip-dark .tooltip-line {
    border-bottom: 1px solid #353536; }
  .flowbee-tooltip-dark .tooltip-value {
    background-color: #1a1a1b;
    color: #d7ba7d;
    font-family: Menlo, Monaco, "Courier New", monospace; }
  .flowbee-tooltip-dark .tooltip-link {
    color: #3794ff; }

.flowbee-tipped:hover .flowbee-tooltip-dark {
  display: block; }
