.vscode/**
src/**
**/*.ts
test/**
docs/**
out/test/**
out/src/worker/**
**/*.map
tsconfig.json
.gitignore
.eslintignore
.eslintrc.yml
.mocharc.yml
rollup.config.js
*.code-workspace
*.vsix
.rpt2_cache/
.DS_Store/


