.vscode/**
src/**
**/*.ts
test/**
docs/**
notes/**
out/test/**
out/src/worker/**
out/media/src/**
**/*.map
**/*.txt
**/*.md
!README.md
!CHANGELOG.md
**/*.html
!media/flow.html
!media/viz.html
**/*.lcl
tsconfig.json
.gitignore
.eslintignore
.eslintrc.yml
.mocharc.yml
rollup.config.js
*.code-workspace
*.vsix
# bundled/unused dependencies
node_modules/@kurkle/color/**
node_modules/chart.js/**
node_modules/chartjs-adapter-date-fns/**
node_modules/date-fns/**
node_modules/neo-async/**
node_modules/uglify-js/**
node_modules/wordwrap/**
# unneeded typescript components
node_modules/typescript/bin/**
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/typescriptServices.js
.rpt2_cache/
.DS_Store/
notes/
.github/
web/.parcel-cache
web/css
web/fonts
web/src
web/test
web/node_modules
web/.eslintrc.yml
web/package-lock.json
web/package.json
web/rollup.config.js
web/tsconfig.json
!web/request.html



