.DS_Store
.github
.vscode
.rpt2_cache
.gitignore
.eslintignore
.eslintrc.yaml
.mocharc.yaml
.prettierrc.yaml
.prettierignore
node_modules
out
dist/extension.js.map
src
media/src
test
docs
notes
rollup.config.js
tsconfig.json
*.vsix
web/.parcel-cache
web/css
web/fonts
web/src
web/test
web/node_modules
web/.eslintrc.yaml
web/package-lock.json
web/rollup.config.js
web/tsconfig.json
!node_modules/@ply-ct/ply/package.json
!node_modules/@ply-ct/ply/templates
!node_modules/@ply-ct/ply/dist/index.js
!node_modules/@cspotcode/source-map-support
!node_modules/@jridgewell
!node_modules/stacktracey
!node_modules/get-source
!node_modules/source-map
!node_modules/data-uri-to-buffer
!node_modules/as-table
!node_modules/printable-characters
!out/worker/bundle.js
