body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
pre {
  margin: 0;
}
a {
  outline: none;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: underline;
}

#app {
  font-family: var(--vscode-font-family);
  -webkit-font-smoothing: antialiased;
}

.split {
  display: flex;
}
.pane {
  flex-basis: 50%;
}
.pane-left {
  flex-grow: 1;
  min-width: 0;
}
.pane-right {
  border-left: 1px solid var(--vscode-panel-border);
}

.request {
  height: 100vh;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--vscode-panel-border);
}
.request-line {
  position: relative;
  top: -2px;
  height: 26px;
  white-space: nowrap;
}
.status-icon {
  position: relative;
  top: 6px;
  left: 10px;
}
.request-name {
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0 5px 5px 10px;
  padding: 0 3px 1px 3px;
  font-size: 14.5px;
  font-weight: bold;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.request-name:focus {
  outline: 1px solid #409eff;
}
.file-link {
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  top: 2px;
}

.actions {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}
.icon {
  margin-left: 10px;
  cursor: pointer;
  width: 16px;
}

.endpoint {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.endpoint .el-select {
  width: 130px;
}

.endpoint-url {
  margin-left: 1.5px;
  white-space: nowrap;
  overflow-x: clip;
}
.url-input {
  inline-size: 1px; // allows cursor move to right when overflow
}

.action-btn {
  display: block;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
  margin-left: 1.5px;
  margin-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  font-size: 14px;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  border: none;
  height: 30px;
}
.action-btn:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}
.action-btn:focus {
  outline: none;
}

.error {
  height: 100vh;
  margin: 25px 25px 5px 25px;
  border-bottom: 1px solid var(--vscode-panel-border);
  color: var(--vscode-errorForeground);
}
.response {
  height: 100vh;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--vscode-panel-border);
}
.response-spacer {
  height: 20px;
  min-height: 20px;
  margin: 0 5px 5px 10px;
  padding: 1px 3px;
}
.response-info {
  height: 30px;
  margin: 5px 10px 0 10px;
  font-size: 12px;
  font-family: var(--vscode-font-family);
}
.response-info-item {
  margin-right: 5px;
}
.status.el-tag {
  font-weight: bold;
  background-color: var(--vscode-editor-background);
  border-color: var(--vscode-editor-foreground);
  height: 26px;
  line-height: 26px;
  margin-right: 8px;
  padding: 0 8px;
}
.status a,
.status a:visited,
.status a:hover,
.status a:active {
  color: inherit;
  text-decoration: none;
  font-family: var(--vscode-font-family);
}
.status a:focus {
  outline: none;
}
.response-further {
  float: right;
  margin-right: 10px;
}
.response-further .el-button {
  margin: 0;
  padding: 0;
}

.response-loading {
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 5px 10px 0 10px;
}
.response-loading > span {
  margin-top: 4px;
  margin-right: 15px;
}
.cancel-btn {
  // color: var(--vscode-editor-foreground);
  color: #ea4f69;
  background: var(--vscode-editor-background);
  border: 1px solid rgba(234, 79, 105, 0.5);
  margin-top: -1px;
}
.cancel-btn:hover {
  background: var(--vscode-editor-background);
  border: 1px solid rgba(234, 79, 105, 1);
}

.form-data {
  height: calc(100vh - 100px);
}

.grid-form {
  margin: 0 10px 5px 5px;
  display: grid;
  grid-template-columns: 80px 1fr;
  row-gap: 5px;
}
.grid-form label {
  padding-top: 3px;
}
.grid-form .note {
  margin-top: 20px;
  padding: 0 7.5px;
  grid-column: 1/3;
}

.editor-container {
  height: calc(100vh - 100px);
  overflow-x: visible;
  -webkit-font-smoothing: auto;
}

.expression {
  color: #32cd32 !important;
}
.unresolved {
  color: #ea4f69 !important;
}

.table-container {
  display: flex;
  position: static;
  width: calc(100% - 2px);
  height: 100%;
  border: none;
  box-shadow: none;
}
.flowbee-config-tab-content {
  margin-top: -10px;
}
.flowbee-configurator-dark .flowbee-config-tab-content {
  overflow: visible; // tooltips extend outside container
}
.flowbee-configurator-light .flowbee-config-tab-content {
  overflow: visible; // tooltips extend outside container
}
.table-container .flowbee-config-tab-content table {
  overflow-x: clip; // no grow beyond width
  width: 100%;
}
.table-container .flowbee-config-tab-content th {
  border: 1px solid var(--vscode-panel-border);
}
.table-container td {
  border: 1px solid var(--vscode-panel-border);
}
.table-container td:focus {
  outline: 1px solid #409eff;
  border-left: 1px solid #409eff;
}

.flowbee-values-dark .flowbee-values-footer input[type='button'],
.flowbee-values-light .flowbee-values-footer input[type='button'] {
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
  border: none;
  padding: 5px 7px;
}

.auth-popper.el-popper.is-light {
  color: var(--vscode-settings-dropdownForeground);
  background-color: var(--vscode-settings-dropdownBackground);
  border: 1px solid var(--vscode-settings-dropdownBorder);
}
.el-popover__title {
  color: var(--vscode-settings-dropdownForeground);
  background-color: var(--vscode-settings-dropdownBackground);
}
.auth-popper.el-popper.is-light .el-popper__arrow::before {
  width: 20px;
  height: 20px;
  background: var(--vscode-settings-dropdownBackground);
  border: 1px solid var(--vscode-settings-dropdownBorder);
}
.auth-popper.el-popper[data-popper-placement^='bottom'] > .el-popper__arrow {
  top: -10px;
}
// ignore clicks to avoid closing auth popup
.el-input__password svg {
  pointer-events: none;
}

.el-select {
  border: none;
  box-shadow: none;
}
.el-select:hover {
  border: none;
  box-shadow: none;
}
.el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: none !important;
}
.el-select .el-input__wrapper.is-focus {
  box-shadow: none !important;
}
.el-select:hover:not(.el-select--disabled) .el-input__wrapper {
  box-shadow: none !important;
}

.el-input__wrapper {
  height: 26px;
  line-height: 26px;
  padding: 1px 8px;
  border-radius: 0;
  // dark theme doesn't define settings.textInputBorder
  border: 1px solid var(--vscode-settings-textInputBorder, #80808050);
  background-color: var(--vscode-settings-textInputBackground);
  box-shadow: none;
}
.el-input__wrapper:hover {
  box-shadow: none;
}
.el-input__wrapper:focus-within {
  border: 1px solid var(--vscode-settings-focusedRowBorder);
}

.el-input__inner {
  height: 26px;
  line-height: 26px;
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
}

.el-input__suffix {
  right: 5px;
}
.el-input__icon {
  width: 2em;
  padding-right: 10px;
}
.el-input.is-disabled .el-input__inner {
  opacity: 0.5;
}

.el-tabs {
  margin-left: 12px;
}
.el-tabs__content {
  overflow: unset;
}
.request .el-tabs {
  margin-top: -5px;
}
.el-tabs__header {
  margin: 0 0 10px;
}
.el-tabs__nav-wrap:after {
  background-color: transparent;
}
.el-tabs__item {
  color: var(--vscode-tab-inactiveForeground);
  padding: 0 12px;
  font-size: 13.3px;
  height: 30px;
  line-height: 30px;
}

.el-loading-mask {
  margin-top: 25px;
  background-color: var(--vscode-editor-background);
  opacity: 0.5;
}
.el-loading-spinner {
  padding-top: 10px;
}
